-#= simple_form_for([@post,@post.comments) do |f|
-#  = f.error_notification
-#
-#  .form-inputs
-#    = f.association :post
-#    = f.association :user
-#    = f.input :body
-#
-#  .form-actions
-#    = f.button :submit
