.container
  .row
    .col-md-10.col-md-offset-1
      %h3 Records
      %table.table.table-bordered.table-striped.table-responsive.table-customstyle

        %thead

          %tr
            %th Results
            %th Action

        - @results.each do |key,value|
          -key.each do |item|
            %tbody
              %tr
                %td= item
                %td= link_to 'View',results_swimming_records_path(information: item), {class: 'btn btn-success btn-sm'}
