- @records = Dir.glob('public/images/uploads/*')
.container
  .row
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        %h2 Please follow the instructions before importing data!

    .col-md-6.col-md-offset-2
      = form_tag  import_times_swimming_records_path, multipart: true do

        = file_field_tag :file
        .span must be a csv file
        %br
        =button_tag 'Import', class: 'btn btn-success', style: {width:'96px'}
        %br
        %br
        %br
    .col-md-8.col-md-offset-2
      .alert.alert-info
        %h4 Update Club Records
      = button_to'Update',synchronise_swimming_records_path, {class: 'btn btn-primary btn-sm' }
      %br
      %br
      %br

  .row
    .col-md-8.col-md-offset-2
      .alert.alert-info
        %h4 Uploaded files in the system

      - unless @records.nil?
        %ol
        - @records.each do |record|
          %li= record.split('/').last
      %br
      %br
