-#UserNotifier#activated
-#
-#= @greeting + ", find me in app/views/user_notifier/activated.text.haml"
-#%html
-#  %body
-#
-#    %h3= "Dear #{@user.first_name}"
-#    %p Your account has been activated

= "Dear #{@user.first_name},\n\nYour Account has been activated"
