%html
  %body{style: 'background-color:rgba(65, 106, 138, 0.4);padding: 25px 5px;'}

    %h3= "Dear #{@user.first_name},"
    %p Your account has been updated

    %p Thank you,
    %p Sheffield City Swimming Club
    %p
    %p

-#= "Dear #{@user.first_name},\n\nYour Account has been activated"
