%html
  %body{style: 'background-color:rgba(65, 106, 138, 0.4);padding: 20px 5px'}
    -#%h4= "Hi #{@user.first_name},"
    %h4= 'Hi'
    %br
    %p= @body


    %br
    %p Thank you,
    %p= @sender
    %p Sheffield City Swimming Club
    %br
    %br