
.hero-unit
  %h1 Welcome to Sheffield City Swimming Club
-#.first{"ng-app" => ""}
-#  %div{"ng-controller" => "M"}
-#    {{times.id }}
-#    {{times.club}}
-#    {{times.distance}}


%br
%br
%br
%br
%br
%br


