.page-header
  %h1 Awaiting Approval
.jumbotron
  %h2 Hi. Your Sign up was successful but approval is required from an administrator. When you are approved, you will be able to sign in. Thank you!

  %h2= link_to 'Sign In', new_user_session_path,class: 'btn btn-success btn-lg'
