.hero-unit
  %h1 Welcome to Sheffield City Swimming Club
  -#%p Find me in app/views/page/welcome.html.haml
  -#%p Welcome to Sheffield City Swimming Club
  -#=image_tag 'SCSC-Logo.jpg'

-#= u =  session[:user]
%br
%br
%br
%br
%br
%br
%h1


-#= debug(u)



