.container
  .col-md-5.col-md-offset-3
    .hero-unit
      .alert-info
        %br
        %h1{style: "text-align:center"} Page Not Found 404
        %br
        %br
        %br
        %br
        %br
      %h2= link_to 'Back to home page',root_path