-#%h1 Listing swimmers
-#
-#%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle.table-hover
-#  %tr
-#    %th Asa number
-#    %th Asa category
-#    %th Date of birth
-#    %th Sex
-#    %th Photo consent
-#    %th Current squad
-#    %th User
-#    %th
-#    %th
-#    %th
-#
-#  - @swimmers.each do |swimmer|
-#    %tr
-#      %td= swimmer.asa_number
-#      %td= swimmer.asa_category
-#      %td= swimmer.date_of_birth
-#      %td= swimmer.sex
-#      %td= swimmer.photo_consent
-#      %td= swimmer.current_squad
-#      %td= swimmer.user
-#      %td= link_to 'Show', swimmer
-#      %td= link_to 'Edit', edit_swimmer_path(swimmer)
-#      %td= link_to 'Destroy', swimmer, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#%br
-#
-#.container
-#  .row
-#    .col-md-8.col-md-offset-2
-#      %h3 Swimmers
-#      %table.table.table-striped.table-responsive.table-customstyle
-#        %thead
-#
-#          %tr
-#            %th First Name
-#            %th Last Name
-#            %th Email
-#            %th Action
-#
-#        - @swimmers.each do |swimmer|
-#          %tbody
-#            %tr
-#              %td= swimmer.user.first_name
-#              %td= swimmer.user.last_name
-#              %td= swimmer.user.email
-#              %td
-#                %a.btn.btn-success{href: medical_conditions_swimmer_path(swimmer.id)} view

-#= link_to 'New Swimmer', new_swimmer_path
