$('#_swimmer_id,#date,#child_submit,#child_form,#btn').remove();
$('#check').empty();
$('#check form').remove();
$('#check').prepend("<%= escape_javascript render('child_form') %>");

<% if @swimmer %>

    $('#swimmer').append("<%= escape_javascript render(:partial => 'parents/swimmer', :locals => { :swimmer => @swimmer }) %>");
    var v = <%= @swimmer.id %>


    $('<input>').attr({
        type: 'hidden',
        multiple: 'multiple',
        name: 'swimmer[ids][]',
        id: 'temp',
        value: v

    }).appendTo('#new_parent');

    $('#temp').attr('id','');
    var seen = {};
    $('li').each(function() {
        var txt = $(this).text();
        if (seen[txt])
            $(this).remove();
        else
            seen[txt] = true;
    });

<% else %>

 $('#check').append("<div class='alert alert-danger' role='alert'><p>Not Valid</p><br/></div>");

<% end %>

$('#date').datepicker(
        {
            dateFormat: 'dd-mm-yy',
            changeYear: 'true',
            changeMonth: 'true',
            yearRange: "-100:+0"

        }
);

