.container
  .row
    .col-md-5.col-md-offset-3
      .alert.alert-info.text-center
        %h4=  'New Post'

      = render 'form'
      %br
      =link_to('<i class="icon-circle-arrow-left "></i> Back'.html_safe, posts_path)