// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event {

}
#event_alert {
  font-family: 'Lato';
  margin-top: 60px;
  background-color: rgba(74, 221, 138, 0.84);
}