// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event {

}
#event_alert {
  font-family: 'Lato';
  font-size: 'bold';
  margin-top: 60px;
  background-color: #00A3A3;
}

#event p {
  background-color: #e3e3e3;
  padding: 5px;
  padding-bottom: 50px;
  height: 50%;
}