.container#result
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-striped.table-responsive.table-customstyle
        %thead
          %tr
          %th Swimmer
          %th Stroke
          %th Length
          %th Times
          %th Club
          %th Venue
          %th Date
        %tbody
