%br
%br
.container
  #tabs
    %ul
      %li#search
        %a{href: '#fragment-1'} Search
      %li#charts
        %a{href: '#fragment-2'} Charts
      %li#best-times
        %a{href: '#fragment-3'} Best Times
      %li#add-times
        %a{href: '#fragment-4'} Add Times

    #fragment-1
      -#= render @swimmer_times
      = render 'swimmer_times/search_form'
      -#= render 'swimmer_times/table'

    #fragment-2
      -#= render 'swimmer_times/search_form'
      = line_chart({20.day.ago => 5, 1368174456 => 10, "2013-05-07 00:00:00 UTC" => 7}, id:'Iman')


    #fragment-3
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

    #fragment-4
      = render 'form'

  .alert-message
  #result
    .row
      .col-md-10.col-md-offset-1
        %table.table.table-striped.table-responsive.table-customstyle
          %thead
            %tr
            %th Swimmer
            %th Stroke
            %th Length
            %th Times
            %th Club
            %th Venue
            %th Date
          %tbody
            -#= render @swimmer_times


  %br

-#= link_to 'New Swimmer time', new_swimmer_time_path

