%h1 Add Club Times

= render 'form'

#tb.row
  .col-md-10.col-md-offset-1
    %h3 Swimmer Times
    %table.table.table-striped.table-responsive.table-customstyle
      %thead
        %tr
          %th Swimmer Name
          %th Stroke
          %th Distance
          %th Times
          %th Club
          %th Venue
          %th Date



      %tbody
      #swimmer_time

= link_to 'Back', swimmer_times_path






