
$('#result_alert').remove();
$('#result').hide();
$('#result_tbody').empty();


<% if @swimmer_times.size > 0 %>

    $('#result').show();

    $('#result_tbody').append("<%= escape_javascript render(@swimmer_times) %>");

<% else %>

    $('.alert-message').append("<div class='alert alert-danger' id='result_alert' role='alert'>No Result Found!</div>");

<% end %>